---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import XTerm from "../components/XTerm.astro";
---

<!doctype html>
<html lang="en">
    <head>
		<title>/204070/tty</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background: #002b36; /* match terminal background to avoid white flashes */
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <XTerm />
    </body>
</html>
